:root {
  --blue: #131b28;
  --gold: #c09342;

  --black: #000;
  --white: #FFF;

  --unit-xxs:  4px;
  --unit-xs: 	 8px;
  --unit-s: 	 12px;
  --unit: 	    16px;
  --unit-l: 	 24px;
  --unit-xl: 	 32px;
  --unit-xxl:  48px;
  --unit-xxxl: 64px;
}
